/* nav */
.gnb ul{list-style: none; display: flex; justify-content: space-around; max-width: 800px;}
.gnb ul li{background-color: #ebebeb; flex:1 1 33%;}

/* sideNav */
.sideNav{position: fixed; right: 1em;}
.sideNav ul{list-style: none; background-color: pink;}